/* *********************************************
****************Global CSS*********************
********************************************* */
body {
    /* height: 100vh; */
    /* width: 100vw; */
    padding: 2em;
    display: flex;
    flex-direction: column;
    /* gap: 2em; */
    justify-content: center;
    align-items: center;
    background-color: #67407D;
}
/* *********************************************
********************************************* */




* {
    margin: 0;
    padding: 0;
}
header{
    padding: 1em 0 0 0 ;
    /* margin-bottom: 2em;    */
    background-color: rgba(0, 0, 0, 0.6); 
}
.nav,.ulist{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.ulist{
    margin-right: 2em;
}
.logo{
        color: whitesmoke;
        text-shadow: 2px 2px black;
        font-family: 'oxanium';
        font-size: 30px;
        margin-left: 1em;
        font-weight: bold;
    }
    .ulist li{
        list-style: none;
        padding: .5em .8em;
    }
    .ulist li a{
        
        color: rgb(221, 202, 176);
        text-shadow: 3px 2px black;
        text-decoration: none;
        font-family: 'oxanium';
        font-weight: 900;
        font-size: 1.2rem;
        padding: .125em .4em;
        line-height: 19px;
        line-height: 100%;
    }
    .ulist li a:hover{
        color: #f95109;
        background-color: #FFE4D9;
        text-shadow: none;
        border-radius: 2px;
}
/* **************************************************************** */
/* ********UPDATED CSS OF NEW NAVBAR*************************** */
/* **************************************************************** */
.ulist li a,
.logo {
    color: #67407D;
    font-weight: 400;
    text-shadow: none;
    text-shadow: 1px 1px #67407D;
}

.ulist li a:hover {
    background-color: #67407D;
    color: azure;
}
header {
    font-family: 'Lato';
    width: 80%;
    border: #67407D 2px solid;
    background-color: white;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    box-shadow: 0 0 4px;
}
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */


@media screen and (max-width : 650px) {
    .logo{
        margin: .6em;
        font-size:25px;
        
    }
        .ulist li a {
            padding: .075em .2em;
            font-size:.9em;
        }
        .ulist{
            margin-right: 1em ;
        }
        
        header{
            width: 100%;
        }
    }
    @media screen and (max-width : 850px) {
        .nav{
            justify-content: center;
        }
        
    }