body{
    /* height: 100vh; */
    width: 100vw;
    padding: 2em;
    display: flex;
    flex-direction: column;
    /* gap: 2em; */
    justify-content: center;
    align-items: center;
    background-color: #67407D;
}
.box-modifiedcss{
    font-family: 'Lato';
    width: 80%;
    box-shadow: 0 0 3px;
    background-color: white;
    border: #67407D 2px solid;
    border-radius: 0 0 10px 10px ;
    /* border-top: none; */
    padding: 1em;
}
.background-image-modifiedcss{
object-fit: contain;
width: 80%;
display: block;
margin: auto;
}
.content-modifiedcss{
font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;

    color: #67407D;
}
.pan{
    background-color: #67407D;
    color: white;
    padding: 2px;
}

@media screen and (max-width: 650px) {
    .content-modifiedcss{

        font-size: .9em;
    }
}