.main-addbox {
    background-color: white;
    width: 80%;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 4px;
    border: 2px solid #67407D;
    border-top: none;
}
.table-modifiedcss{
        width: 80%;
        color: #67407D;
        margin: auto;
        font-family: 'ubuntu';
        font-size: 1.2rem;
        background-color: white;
        padding-top: 1em;
        
        border: 2px solid #D084FC;
            box-shadow: 7px 7px 4px #DDCFE6;
            border-radius: 10px;
        
    }
    /* ******************************************* */
    .dele {
        text-decoration: none;
        margin: 0.5em 0;
    font-size: smaller;
    font-family: 'Ubuntu', sans-serif;
    padding: 0.5em;
    border-radius: 2px;
    border: 1px solid rgba(255, 0, 0, 0.6);
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
}

.dele:hover {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.6);
    background-color:white;
    border: 1px solid rgba(255, 0, 0, 0.6);
}

.margin {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.list {
    width: 80%;
    text-align: center;
}


table th{
    color :#67407D;
    font-weight: 600;
    /* font-family: 'Lato'; */
    border-radius: 5px;
    border: 2px solid #67407D;
    padding: .5em 0;
}
table td{
    padding: 1em;
    
    border: 2px solid #67407D;
}

#descpt {
    width: 50%;
}

@media screen and (max-width : 700px) {
    .list,header {
        width: 100%;
    }
    
    table {
        width: 80%;
    font-size: .9rem;
        padding-top: .7em;
    }
table th {
    color: black;
    font-size: .9rem;
    border-radius: 5px;
    border: 2px solid black;
    padding: .25em 0;
}
table td{
    font-size: .9rem;
    padding: .4em;
}
}

.cur {
    border-bottom: 2px solid black;
}
