<!DOCTYPE html>
{% extends 'baseapp/base.html' %}
{% load static %}
{% block title %}
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<title>list page</title>
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock title %}


  {% block content %}
<div class="list main-addbox">
    <table class="margin table-modifiedcss">
        <thead>
            <tr>
                <th>DATE/TIME</th>
                <th>TITLE</th>
                <th id="descpt">DESCRIPTION</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
         {% for d in data %}
            <tr>
                <td class="sep">{{ d.Datetime }}</td>
                <td class="sep"> {{d.title}} </td>
                <td class="sep"> {{d.desc}} </td>
                <td class="sep"><a href="{% url 'baseapp:delete' d.id %} " class="dele" id="button" >DELETE</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
